:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

<<<<<<< HEAD:op_basics_react/src/index.css
a {
=======
.subLink {
>>>>>>> router:src/index.css
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
<<<<<<< HEAD:op_basics_react/src/index.css
a:hover {
  color: #535bf2;
}

=======
.subLink:hover {
  color: #535bf2;
}

.Home {
  font-weight: 500;
  color: #3c5163;
  text-decoration: inherit;
}
.Home:hover {
  color: #213547;

}

>>>>>>> router:src/index.css
/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
